body {
  background-image: url('/img/splash09.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'Taviraj', serif;
  font-size: 2rem;
}

/* .text-center {
  background-color: rgba(94, 242, 227, 0.9);
  border-radius: 100%;
  border: 4px dotted black;
  margin-top: 20vh;
  padding: 20px;
} */

.navbar {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  float: left;
  margin-left: 0;
}

.navbar2 {
  float: right;
  list-style-type: none;
  margin-top: 0;
  padding: 0;

}

a {
  display: block;
  padding: 8px;
}

#title {
  font-size: 100px;
  font-family: 'Fontdiner Swanky', cursive;
  text-align: left;
  color: #d00001;
}

#play {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 50px;
  /* text-align: left; */
  color: #fbf496;
}

#tagline {
  font-family: 'Fontdiner Swanky', cursive;
  text-align: left;
  font-size: 50px;
  color: #d00001;
  margin-top: 50px;
}


#startButton {
  font-family: 'Taviraj', serif;
  text-align: left;
  font-size: 30px;
}
