<!DOCTYPE html>
<html class="splash">
  <head>
    <title>Assassin</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Fontdiner+Swanky|Limelight|Taviraj&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>


    <ul class="navbar">
      <li><a href="/player/sign-up">Sign up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <ul class="navbar2"
      <li><a href="/rules">Rules of the Game</a></li>
    </ul>
      <div id="splash-text">
        <h4 id="play">.</h4>
        <p id="tagline">Kill your friends!</p>
        <h1 id="title">Assassin</h1>
        <p id="startButton"><a href="/game/new" class="btn" id="splash-button">Start a new game</a></p>
      </div>
  </body>
</html>
