@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="title" class="display-4">Assassin</h1>
    <p><a href="/player/sign-up">Sign up</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="/game/new">Start a new game</a></p>
</div>
