
<!DOCTYPE html>
<html class="login">
  <head>
    <meta charset='utf-8'>
    <title>Assassin</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Fontdiner+Swanky|Limelight|Taviraj&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

<body class="container">
<div class="text-center">
  <h3 class="title" id="loginTitle">Log In</h3>
    <form action="/authenticate" method="Post" id="authentication">
      <label for="userName">Email:</label><br>
      <input name="userName" type="text"></input><br>
      <label for="uPassword">Password:</label><br>
      <input name="uPassword" type="password"></input><br>
      <button type="submit" class="btn btn-danger" id="loginButton">Submit</button>
    </form>
  </div>
</body>
</html>
