
<!DOCTYPE html>
<html class="login">
  <head>
    <meta charset='utf-8'>
    <title>Assassin</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Fontdiner+Swanky|Limelight|Taviraj&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <header>
   <!-- //Navbar start ------->
        <nav class="navbar navbar-expand-md" id="indexNav">
          <img src="~/favicon.ico" width="40" height="40" alt="A png of a knife" href="/">Assassin
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
              <li class="nav-item">
              <a href="/rules">Rules of the Game</a>
              </li>
            </ul>
          </div>
        </nav>
    <!-- //Navbar end ------->
   </header>
<body>
    <div class="text-center container">
      <h3 class="title" id="loginTitle">Log In</h3>
        <form action="/authenticate" method="Post" id="authentication">
          <label for="userName">Email:</label><br>
          <input name="userName" type="text"></input><br>
          <label for="uPassword">Password:</label><br>
          <input name="uPassword" type="password"></input><br>
          <button type="submit" class="btn btn-danger" id="loginButton">Submit</button>
        </form>
      </div>
    </body>
</html>
