
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Assassin</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Fontdiner+Swanky|Limelight|Taviraj&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

<body class="container">
<div class="text-center">
  <h3 id="title" class="display-4">Rules of the Game</h3>

  <h5 class="rulesTitles">THE GOAL</h5>

  <p>The goal of Assassins is to be the last Assassin alive. The Director (game administrator) will assign you a target, whom you must kill in accordance with the rules below. Give yourself a good agent name, such as Agent Saboteur--but make sure it doesn’t give away your identity (“Agent Cindy”, lookin’ at you).</p>

  <p>At the same time, you are a mark for another agent, so remember that while you are planning your kill, someone else is strategizing how to kill you as well.</p>

  <h5 class="rulesTitles">THE RULES</h5>

  1. <b>A kill must be executed with no witnesses.</b> Your job is to stay under the radar, so that no one knows that you are still alive. HOWEVER -- if you don a disguise, such as a mask or a trash can on your head (which we strongly advise against) -- you may execute a kill with witnesses present. To take advantage of this exception, you MUST disguise yourself before being seen by citizens, and you can only remove your disguise when you are alone (think, Superman. Or Batman. Or Spider--you know what we mean). If you see a citizen, you cannot make a kill unless you are already wearing your disguise.

  2. <b>If you kill your target with a witness, the kill will not be legitimate.</b> You will still be alive, but so will your target--and now someone else will know you are still in the game.

  3. <b>Absolutely tell no one who your target is.</b> In fact, do not even discuss the game with anyone else! It is considered unprofessional, and outside of Assassin etiquette. Hide your weapons, and don’t brag. You will get a chance to gain glory through the reports of The Director.

  4. <b>Kills cannot be executed in the designated safe zones:</b>
  Computer lab
  Restrooms
  Vehicle -- so long as the engine is on, you cannot kill the driver, although all other passengers are fair game
  Anywhere there is possibility of injury to the target or innocent citizens
  Anywhere the weaponry might damage the surroundings; we trust Assassins to make sound judgments


  5. <b>YOU WILL BE RESPONSIBLE FOR ALL DAMAGED PROPERTY.</b>

  6. <b>You must report a kill in the program immediately after you kill your target.</b> You will receive word of your next assignment, or be notified if you are the last Assassin alive.

  7. <b>If you are attacked, you are allowed one defensive call of “ASSASSIN!”</b> Your assassin is then banned from further attacks against you until midnight that day. You may only use this defense once per day.

  8. <b>If you discover the identity of your Assassin from their previously botched attempt at killing you, you are NOT allowed to invoke your defense call UNLESS they are actively attempting to kill you.</b> This means you cannot simply call out “Assassin!” as soon as you see them in the morning, when they’re making coffee or perhaps being called into the teacher’s office.

  <b>IF YOU ARE ASSASSINATED:</b> Please respect the remaining Assassins and the game by not discussing the game. You are only allowed to have communication with The Director. After all, you don’t want to give an unfair advantage to certain Assassins, and, in real life, dead people tell no tales. Remember, people aren’t supposed to know who else is playing. Treat it like Fight Club. “The first rule of Fight Club is, you don’t talk about Fight Club.”

  <h5 class="rulesTitles">WEAPONS OF DESTRUCTION</h5>

  <b>A kill must be made using a valid weapon.</b> If the person being killed doesn’t know that they are killed, then it isn’t a kill. Duh.

  <b>The valid weapons and kill methods are:</b>
  1. A spoon touched to the body of the target
  2. A sock thrown at the target (unclean socks will result in swift expulsion from any further Epicodus-affiliated programs and events)

  <b>Do not use the weapon in such a way as to injure others<b> (if you want to throw something, use a sock. Free Dobby).

  <b>When trying to avoid an attack, please be careful.</b> Sometimes running away is the best strategy, but please don’t hurt yourself (make sure your laces are always tied, for example).

  <h5 class="rulesTitles">ALSO</h5>
  <ul>
    <li>You are responsible for your own weaponry.</li>
    <li>No killing of innocent citizens-- Assassins are precise and clean.</li>
    <li>A kill must be reported immediately.</li>
    <li>News of the Day will be posted on the Leaderboard page.</li>
  </ul>

  <h5 class="rulesTitles">ASSASSINS CODE OF CONDUCT</h5>
  <ul>
    <li>Play fair. Don’t cheat.</li>
    <li>If you botch a kill, don’t lie about it.</li>
    <li>Don’t inconvenience the target or citizens with your antics. Be professional.</li>
    <li>Don’t hurt yourself.</li>
    <li>This is a fun, sneaky way to make your assassin dreams come true!</li>
  </ul>


  </div>
</body>
</html>
