@{
    ViewData["Title"] = "Invalid Login";
}

<div class="text-center">
  <h1 id="title" class="display-4">Assassin</h1>
  <h2>EMAIL OR PASSWORD INVALID</h2>
    <form action="/authenticate" method="Post" id="authentication">
      <label for="userName">Email:</label>
      <input name="userName" type="text"></input>
      <label for="uPassword">Password:</label>
      <input name="uPassword" type="password"></input>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
