@{
    ViewData["Title"] = "New Game";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Assassin</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Fontdiner+Swanky|Limelight|Taviraj&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

<body class="container">
<div class="text-center">
  <h3 class="title" class="display-4">New Game</h3>
    <form action="/game/new" method="post" id="signUp">
      <h2>Choose a simple name and password for your group game. This information will be passed out in your invitations to your friends, and they will need it to sign up.</h2>
      <label for="gameName">Group name:</label>
      <input name="gameName" type="text"></input>
      <label for="gamePassword">Group password:</label>
      <input name="gamePassword" type="password"></input>
      <p>-----------------------------------------</p>
      <h2>Now, fill in your personal player information!</h2>
      <label for="name">First name, last initial:</label>
      <input name="name" type="text" value="ex: Dima E."></input>
      <label for="email">email:</label>
      <input name="email" type="text"></input>
      <label for="password">Password:</label>
      <input name="password" type="password"></input>
      <label for="phoneNumber">Phone number:</label>
      <input name="phoneNumber" type="text"></input>
      <label for="agentName">Agent Name:</label>
      <input name="agentName" type="text"></input>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
</body>
</html>
